.idea
/venv
/__pycache__
/node_modules
/bower_components
/dist
/build
/docs
/logs
/media
/static
/tmp
/vendor
/webpack-stats.json
/webpack-stats-*.json
/yarn-error.log
/yarn-*.log
/yarn.lock
/COMTerminal

1.py
/build*
